.home-container {
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table tr {
    transition: background-color 0.3s;
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .table tr:hover {
    background-color: #f1f1f1; /* Hover effect for table rows */
  }
  
  .table tr:nth-child(even) {
    background-color: #626262; /* Alternate row color */
  }
  
  .table tr:nth-child(odd) {
    background-color: #9b9b9b; /* Alternate row color */
  }
  
  .table button {
    margin-right: 5px;
  }


  
.btn1{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545; /* Bootstrap danger red */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 9px;
}

.btn{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #5fdc35;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 9px;
}

.btn3{
    padding: 5px 10px;
border: none;
border-radius: 4px;
background-color: #227eff;
color: white;
cursor: pointer;
transition: background-color 0.3s;
margin-right: 9px;
margin-top: 5px;
padding-top: 4px;
width: 40%;
}

